{
  "openapi": "3.1.0",
  "info": {
    "title": "Woes REST API",
    "summary": "Public REST API for Woes workspace conversations, issues, clients, agents, sources, definitions, usage, and analytics.",
    "description": "Use workspace API keys to work with Woes support conversations, messages, issues, client account aggregates, public agent metadata, API context sources, workspace definitions, usage meters, and sanitized analytics from server-side integrations.",
    "version": "2026-06-29",
    "license": {
      "name": "Proprietary",
      "identifier": "LicenseRef-Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://woes.dev",
      "description": "Production"
    }
  ],
  "security": [
    {
      "workspaceApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Conversations",
      "description": "Create, read, update, and message support conversations."
    },
    {
      "name": "Issues",
      "description": "Create, read, and update support issues."
    },
    {
      "name": "Clients",
      "description": "Read client account aggregates derived from workspace conversations."
    },
    {
      "name": "Agents",
      "description": "Read named support agent metadata and public widget keys."
    },
    {
      "name": "Sources",
      "description": "Create, inspect, update, delete, and rescan API context sources."
    },
    {
      "name": "Definitions",
      "description": "Read workspace tags, statuses, priorities, and custom field definitions."
    },
    {
      "name": "Usage",
      "description": "Read current-month public API and live API check usage."
    },
    {
      "name": "Analytics",
      "description": "Read sanitized workspace analytics aggregates."
    }
  ],
  "paths": {
    "/api/v1/conversations": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "operationId": "listConversations",
        "summary": "List conversations",
        "description": "Lists recent workspace conversations visible to the API key workspace.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConversationStatus"
          },
          {
            "$ref": "#/components/parameters/ConversationChannel"
          },
          {
            "$ref": "#/components/parameters/CustomerId"
          },
          {
            "$ref": "#/components/parameters/ListLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationListResponse"
                },
                "examples": {
                  "openConversations": {
                    "value": {
                      "object": "list",
                      "hasMore": false,
                      "conversations": [
                        {
                          "object": "conversation",
                          "id": "6f6b6f9a-1b6a-4e42-9f71-1b9a3f3d2a33",
                          "channel": "api",
                          "status": "open",
                          "priority": "medium",
                          "subject": "Need help with auth",
                          "preview": "Need help with auth",
                          "customer": {
                            "id": "cus_123",
                            "name": "Ada Lovelace",
                            "email": "ada@example.com",
                            "company": "Example API Co",
                            "identitySource": "headers"
                          },
                          "createdAt": "2026-06-28T18:00:00.000Z",
                          "updatedAt": "2026-06-28T18:00:00.000Z",
                          "lastMessageAt": "2026-06-28T18:00:00.000Z",
                          "closedAt": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Conversations"
        ],
        "operationId": "createConversation",
        "summary": "Create conversation",
        "description": "Creates an API-origin conversation in the authenticated workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConversationRequest"
              },
              "examples": {
                "createConversation": {
                  "value": {
                    "externalId": "ticket_123",
                    "subject": "Need help with auth",
                    "customer": {
                      "id": "cus_123",
                      "name": "Ada Lovelace",
                      "email": "ada@example.com",
                      "company": "Example API Co"
                    }
                  }
                }
              },
              "example": {
                "channel": "api",
                "externalId": "ticket_123",
                "priority": "medium",
                "subject": "Need help with auth",
                "customer": {
                  "id": "cus_123",
                  "name": "Ada Lovelace",
                  "email": "ada@example.com",
                  "company": "Example API Co"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conversation created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/conversations/{conversationId}": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "operationId": "getConversation",
        "summary": "Retrieve conversation",
        "description": "Retrieves one workspace-scoped conversation. Cross-workspace ids return 404.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConversationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "tags": [
          "Conversations"
        ],
        "operationId": "updateConversation",
        "summary": "Update conversation",
        "description": "Updates supported public fields on a workspace-scoped conversation.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConversationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConversationRequest"
              },
              "examples": {
                "solveConversation": {
                  "value": {
                    "status": "solved"
                  }
                }
              },
              "example": {
                "status": "solved",
                "priority": "low",
                "subject": "OAuth auth issue resolved"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversation updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/conversations/{conversationId}/messages": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "operationId": "listConversationMessages",
        "summary": "List messages",
        "description": "Lists ordered messages for a workspace-scoped conversation.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConversationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Message list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Conversations"
        ],
        "operationId": "createConversationMessage",
        "summary": "Create message",
        "description": "Appends a user or assistant message to a workspace-scoped conversation.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConversationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessageRequest"
              },
              "examples": {
                "createMessage": {
                  "value": {
                    "role": "user",
                    "body": "I am getting a 401 from POST /orders."
                  }
                }
              },
              "example": {
                "role": "user",
                "body": "I am getting a 401 from POST /orders."
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/issues": {
      "get": {
        "tags": [
          "Issues"
        ],
        "operationId": "listIssues",
        "summary": "List issues",
        "description": "Lists recent workspace issues visible to the API key workspace.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IssueStatusCategory"
          },
          {
            "$ref": "#/components/parameters/Priority"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          },
          {
            "$ref": "#/components/parameters/SourceConversationId"
          },
          {
            "$ref": "#/components/parameters/ListLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Issue list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssueListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Issues"
        ],
        "operationId": "createIssue",
        "summary": "Create issue",
        "description": "Creates a workspace-scoped support issue.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIssueRequest"
              },
              "examples": {
                "createIssue": {
                  "value": {
                    "subject": "OAuth redirect URI mismatch",
                    "description": "Customer reports a redirect_uri mismatch on the production OAuth app.",
                    "priority": "high",
                    "customer": {
                      "name": "Ada Lovelace",
                      "email": "ada@example.com",
                      "company": "Example API Co"
                    },
                    "tags": [
                      "oauth",
                      "production"
                    ]
                  }
                }
              },
              "example": {
                "subject": "OAuth redirect URI mismatch",
                "description": "Customer reports a redirect_uri mismatch on the production OAuth app.",
                "priority": "high",
                "statusCategory": "new",
                "sourceChannel": "api",
                "customer": {
                  "name": "Ada Lovelace",
                  "email": "ada@example.com",
                  "company": "Example API Co"
                },
                "tags": [
                  "oauth",
                  "production"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Issue created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssueResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/issues/{issueId}": {
      "get": {
        "tags": [
          "Issues"
        ],
        "operationId": "getIssue",
        "summary": "Retrieve issue",
        "description": "Retrieves one workspace-scoped issue. Cross-workspace ids return 404.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IssueId"
          }
        ],
        "responses": {
          "200": {
            "description": "Issue found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssueResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "tags": [
          "Issues"
        ],
        "operationId": "updateIssue",
        "summary": "Update issue",
        "description": "Updates supported public fields on a workspace-scoped issue.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IssueId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIssueRequest"
              },
              "examples": {
                "closeIssue": {
                  "value": {
                    "statusCategory": "closed",
                    "tags": [
                      "oauth",
                      "resolved"
                    ]
                  }
                }
              },
              "example": {
                "statusCategory": "closed",
                "priority": "low",
                "tags": [
                  "oauth",
                  "resolved"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Issue updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssueResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/clients": {
      "get": {
        "tags": [
          "Clients"
        ],
        "operationId": "listClients",
        "summary": "List clients",
        "description": "Lists client account aggregates derived from conversations in the API key workspace.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientSearch"
          },
          {
            "$ref": "#/components/parameters/ClientHealth"
          },
          {
            "$ref": "#/components/parameters/ListLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Client list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientListResponse"
                },
                "examples": {
                  "clients": {
                    "value": {
                      "object": "list",
                      "hasMore": false,
                      "truncated": false,
                      "clients": [
                        {
                          "object": "client",
                          "id": "example-api-co",
                          "name": "Example API Co",
                          "health": "watch",
                          "healthScore": {
                            "label": "watch",
                            "score": 72,
                            "activity": 85,
                            "conversations": 66,
                            "resolutions": 70,
                            "reasons": [
                              "1/4 conversations still open.",
                              "75% resolution rate."
                            ]
                          },
                          "metrics": {
                            "conversations": 4,
                            "openConversations": 1,
                            "messages": 38,
                            "verifiedContacts": 2,
                            "visits": 6
                          },
                          "channels": [
                            {
                              "channel": "live-chat",
                              "count": 3
                            },
                            {
                              "channel": "email",
                              "count": 1
                            }
                          ],
                          "contacts": [
                            {
                              "id": "cus_123",
                              "name": "Ada Lovelace",
                              "email": "ada@example.com",
                              "identitySource": "headers",
                              "lastMessageAt": "2026-06-29T13:00:00.000Z",
                              "online": false,
                              "visits": 4
                            }
                          ],
                          "recentConversations": [
                            {
                              "id": "6f6b6f9a-1b6a-4e42-9f71-1b9a3f3d2a33",
                              "channel": "live-chat",
                              "subject": "OAuth redirect URI mismatch",
                              "preview": "Customer reports a redirect_uri mismatch.",
                              "status": "open",
                              "lastMessageAt": "2026-06-29T13:00:00.000Z"
                            }
                          ],
                          "tasks": [
                            {
                              "id": "6f6b6f9a-1b6a-4e42-9f71-1b9a3f3d2a33",
                              "subject": "OAuth redirect URI mismatch",
                              "preview": "Customer reports a redirect_uri mismatch.",
                              "status": "open",
                              "priority": "High",
                              "lastMessageAt": "2026-06-29T13:00:00.000Z"
                            }
                          ],
                          "firstContactAt": "2026-06-20T16:00:00.000Z",
                          "lastMessageAt": "2026-06-29T13:00:00.000Z",
                          "latestConversationId": "6f6b6f9a-1b6a-4e42-9f71-1b9a3f3d2a33"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Clients"
        ],
        "operationId": "createClient",
        "summary": "Create client",
        "description": "Creates a manual client/account seed in the authenticated workspace. The client is represented by an API-origin support conversation and then returned through the same client aggregate used by the Clients page.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientSeedRequest"
              },
              "example": {
                "company": "Example API Co",
                "contactName": "Ada Lovelace",
                "contactEmail": "ada@example.com",
                "notes": "Created from billing CRM sync."
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client seed created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateClientSeedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/clients/{clientId}": {
      "get": {
        "tags": [
          "Clients"
        ],
        "operationId": "getClient",
        "summary": "Retrieve client",
        "description": "Retrieves one client account aggregate from the API key workspace. Missing or cross-workspace ids return 404.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "responses": {
          "200": {
            "description": "Client found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/agents": {
      "get": {
        "tags": [
          "Agents"
        ],
        "operationId": "listAgents",
        "summary": "List agents",
        "description": "Lists public metadata for named support agents in the API key workspace. Prompt/config internals and learned profiles are not returned.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentSearch"
          },
          {
            "$ref": "#/components/parameters/AgentEnabled"
          },
          {
            "$ref": "#/components/parameters/AgentIsDefault"
          },
          {
            "$ref": "#/components/parameters/ListLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentListResponse"
                },
                "examples": {
                  "agents": {
                    "value": {
                      "object": "list",
                      "hasMore": false,
                      "agents": [
                        {
                          "object": "agent",
                          "id": "872b407a-d359-4479-806a-72307e9c27d0",
                          "name": "Docs agent",
                          "enabled": true,
                          "isDefault": false,
                          "widgetPublicKey": "trovw_agent_872b407ad3594479806a72307e9c27d0",
                          "attachedSourceCount": 3,
                          "learningStatus": "ready",
                          "learnedAt": "2026-06-29T13:00:00.000Z",
                          "createdAt": "2026-06-28T18:00:00.000Z",
                          "updatedAt": "2026-06-29T13:00:00.000Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/agents/{agentId}": {
      "get": {
        "tags": [
          "Agents"
        ],
        "operationId": "getAgent",
        "summary": "Retrieve agent",
        "description": "Retrieves one public agent metadata object from the API key workspace. Missing or cross-workspace ids return 404.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/sources": {
      "get": {
        "tags": [
          "Sources"
        ],
        "operationId": "listSources",
        "summary": "List sources",
        "description": "Lists API context sources for the API key workspace.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SourceStatus"
          },
          {
            "$ref": "#/components/parameters/SourceType"
          },
          {
            "$ref": "#/components/parameters/SourceLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Source list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceListResponse"
                },
                "examples": {
                  "readySources": {
                    "value": {
                      "object": "list",
                      "hasMore": false,
                      "sources": [
                        {
                          "object": "source",
                          "id": "5f6a7b8c-1111-4222-9333-123456789abc",
                          "name": "Public API",
                          "type": "openapi",
                          "status": "ready",
                          "inputUrl": "https://api.example.com/openapi.json",
                          "error": null,
                          "publicDocs": {
                            "published": true,
                            "slug": "public-api",
                            "url": "https://woes.dev/docs/public-api"
                          },
                          "createdAt": "2026-06-29T16:00:00.000Z",
                          "updatedAt": "2026-06-29T16:01:00.000Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Sources"
        ],
        "operationId": "createSource",
        "summary": "Create source",
        "description": "Creates and ingests a new API context source. Provide a URL or pasted content.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSourceRequest"
              },
              "example": {
                "type": "openapi",
                "name": "Public API",
                "url": "https://api.example.com/openapi.json"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Source created and ingested.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestionResultResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/sources/{sourceId}": {
      "get": {
        "tags": [
          "Sources"
        ],
        "operationId": "retrieveSource",
        "summary": "Retrieve source",
        "description": "Reads one source plus redacted endpoint and document details.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Source detail.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "tags": [
          "Sources"
        ],
        "operationId": "updateSource",
        "summary": "Update source",
        "description": "Renames a source and/or changes public docs publication state.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSourceRequest"
              },
              "example": {
                "name": "Public API v2",
                "publicDocs": {
                  "published": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated source detail.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "tags": [
          "Sources"
        ],
        "operationId": "deleteSource",
        "summary": "Delete source",
        "description": "Deletes one source from the API key workspace and marks default-agent context stale for resync.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Source deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSourceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/sources/{sourceId}/rescan": {
      "post": {
        "tags": [
          "Sources"
        ],
        "operationId": "rescanSource",
        "summary": "Rescan source",
        "description": "Re-ingests a URL-backed source. Pasted/manual sources are not rescannable through this endpoint.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SourceId"
          }
        ],
        "responses": {
          "201": {
            "description": "Source rescanned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestionResultResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tags": {
      "get": {
        "tags": [
          "Definitions"
        ],
        "operationId": "listTags",
        "summary": "List tags",
        "description": "Lists workspace-managed tag definitions, optionally filtered by issue or account scope.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DefinitionScope"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag definitions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/statuses": {
      "get": {
        "tags": [
          "Definitions"
        ],
        "operationId": "listStatuses",
        "summary": "List statuses",
        "description": "Lists workspace ticket status definitions.",
        "responses": {
          "200": {
            "description": "Status definitions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/priorities": {
      "get": {
        "tags": [
          "Definitions"
        ],
        "operationId": "listPriorities",
        "summary": "List priorities",
        "description": "Lists workspace ticket priority definitions.",
        "responses": {
          "200": {
            "description": "Priority definitions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriorityListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/custom-fields": {
      "get": {
        "tags": [
          "Definitions"
        ],
        "operationId": "listCustomFields",
        "summary": "List custom fields",
        "description": "Lists sanitized customer custom field definitions.",
        "responses": {
          "200": {
            "description": "Custom field definitions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/usage": {
      "get": {
        "tags": [
          "Usage"
        ],
        "operationId": "retrieveUsage",
        "summary": "Retrieve usage",
        "description": "Reads current-month workspace usage meters for public API calls, live API checks, API sources, agents, and indexed endpoints.",
        "responses": {
          "200": {
            "description": "Workspace usage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/usage/api-keys": {
      "get": {
        "tags": [
          "Usage"
        ],
        "operationId": "listApiKeyUsage",
        "summary": "List API key usage",
        "description": "Lists current-month public API call usage by workspace API key prefix. Full key secrets and hashes are never returned.",
        "responses": {
          "200": {
            "description": "API key usage list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyUsageListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/analytics": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "operationId": "retrieveAnalytics",
        "summary": "Retrieve analytics",
        "description": "Reads sanitized workspace analytics aggregates for agents, surveys, widget activity, and customer feedback. Provider/model/cost/debug internals are excluded.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AnalyticsLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace analytics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "workspaceApiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Workspace API key that starts with woesk_. Paste your own key into the docs playground; never expose it in browser code.",
        "x-default": "woesk_your_api_key_here"
      }
    },
    "parameters": {
      "ConversationId": {
        "name": "conversationId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Conversation id.",
        "example": "6f6b6f9a-1b6a-4e42-9f71-1b9a3f3d2a33"
      },
      "IssueId": {
        "name": "issueId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Issue id.",
        "example": "issue_123"
      },
      "ListLimit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        },
        "description": "Number of records to return.",
        "example": 10
      },
      "ConversationStatus": {
        "name": "status",
        "in": "query",
        "schema": {
          "$ref": "#/components/schemas/ConversationStatus"
        },
        "description": "Conversation status filter.",
        "example": "open"
      },
      "ConversationChannel": {
        "name": "channel",
        "in": "query",
        "schema": {
          "$ref": "#/components/schemas/ConversationChannel"
        },
        "description": "Conversation channel filter.",
        "example": "api"
      },
      "CustomerId": {
        "name": "customerId",
        "in": "query",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 200
        },
        "description": "Customer id filter.",
        "example": "cus_123"
      },
      "IssueStatusCategory": {
        "name": "statusCategory",
        "in": "query",
        "schema": {
          "$ref": "#/components/schemas/IssueStatusCategory"
        },
        "description": "Issue status category filter.",
        "example": "new"
      },
      "Priority": {
        "name": "priority",
        "in": "query",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 32
        },
        "description": "Priority label filter.",
        "example": "high"
      },
      "CustomerEmail": {
        "name": "customerEmail",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "email",
          "maxLength": 320
        },
        "description": "Customer email filter.",
        "example": "ada@example.com"
      },
      "SourceConversationId": {
        "name": "sourceConversationId",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "Linked source conversation id filter.",
        "example": "6f6b6f9a-1b6a-4e42-9f71-1b9a3f3d2a33"
      },
      "ClientId": {
        "name": "clientId",
        "in": "path",
        "required": true,
        "description": "Client id returned by the Clients API.",
        "schema": {
          "type": "string"
        },
        "example": "example-api-co"
      },
      "ClientHealth": {
        "name": "health",
        "in": "query",
        "required": false,
        "description": "Filter clients by computed health label.",
        "schema": {
          "$ref": "#/components/schemas/ClientHealth"
        },
        "example": "watch"
      },
      "ClientSearch": {
        "name": "search",
        "in": "query",
        "required": false,
        "description": "Search by client id, name, channel, or contact.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 160
        },
        "example": "example"
      },
      "AgentId": {
        "name": "agentId",
        "in": "path",
        "required": true,
        "description": "Agent id returned by the Agents API.",
        "schema": {
          "type": "string"
        },
        "example": "872b407a-d359-4479-806a-72307e9c27d0"
      },
      "AgentSearch": {
        "name": "search",
        "in": "query",
        "required": false,
        "description": "Search by agent id, name, or public widget key.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 120
        },
        "example": "docs"
      },
      "AgentEnabled": {
        "name": "enabled",
        "in": "query",
        "required": false,
        "description": "Filter agents by enabled state.",
        "schema": {
          "type": "boolean"
        },
        "example": true
      },
      "AgentIsDefault": {
        "name": "isDefault",
        "in": "query",
        "required": false,
        "description": "Filter to default or non-default agents.",
        "schema": {
          "type": "boolean"
        },
        "example": false
      },
      "SourceLimit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum number of sources to return.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 50
        }
      },
      "SourceStatus": {
        "name": "status",
        "in": "query",
        "required": false,
        "description": "Filter sources by ingestion status.",
        "schema": {
          "type": "string",
          "enum": [
            "pending",
            "processing",
            "ready",
            "failed"
          ]
        }
      },
      "SourceType": {
        "name": "type",
        "in": "query",
        "required": false,
        "description": "Filter sources by source type.",
        "schema": {
          "type": "string",
          "enum": [
            "auto",
            "openapi",
            "json",
            "url",
            "website",
            "text",
            "graphql",
            "postman",
            "asyncapi",
            "grpc",
            "soap",
            "github"
          ]
        }
      },
      "SourceId": {
        "name": "sourceId",
        "in": "path",
        "required": true,
        "description": "Workspace API source id.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "DefinitionScope": {
        "name": "scope",
        "in": "query",
        "required": false,
        "description": "Filter tag definitions by scope.",
        "schema": {
          "type": "string",
          "enum": [
            "issue",
            "account"
          ]
        }
      },
      "AnalyticsLimit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum number of recent rows sampled per analytics area.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 2000,
          "default": 500
        }
      }
    },
    "responses": {
      "InvalidRequest": {
        "description": "Invalid request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "invalidRequest": {
                "value": {
                  "code": "invalid_request",
                  "error": "Request body is invalid."
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing, unknown, revoked, or expired API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "unauthorized": {
                "value": {
                  "code": "unauthorized",
                  "error": "A valid workspace API key is required."
                }
              }
            }
          }
        }
      },
      "InsufficientScope": {
        "description": "API key does not include the required scope.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "insufficientScope": {
                "value": {
                  "code": "insufficient_scope",
                  "error": "This API key is missing the required scope."
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Record not found in the API key workspace.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "notFound": {
                "value": {
                  "code": "not_found",
                  "error": "Record not found."
                }
              }
            }
          }
        }
      },
      "Conflict": {
        "description": "Record conflicts with an existing workspace record.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "conflict": {
                "value": {
                  "code": "conflict",
                  "error": "A record with this identifier already exists."
                }
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "Too many API requests.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "rateLimited": {
                "value": {
                  "code": "rate_limited",
                  "error": "Too many API requests. Slow down and try again shortly."
                }
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "Unexpected API failure.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "internalError": {
                "value": {
                  "code": "internal_error",
                  "error": "The API request could not be completed."
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "ConversationChannel": {
        "type": "string",
        "enum": [
          "api",
          "live-chat",
          "email",
          "discord"
        ]
      },
      "ConversationStatus": {
        "type": "string",
        "enum": [
          "open",
          "waiting",
          "solved"
        ]
      },
      "IssueStatusCategory": {
        "type": "string",
        "enum": [
          "new",
          "on_you",
          "on_customer",
          "on_hold",
          "closed"
        ]
      },
      "Customer": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "name": {
            "type": "string",
            "maxLength": 160
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email",
            "maxLength": 320
          },
          "company": {
            "type": "string",
            "maxLength": 160
          },
          "identitySource": {
            "type": "string"
          }
        }
      },
      "IssueCustomer": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 160
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email",
            "maxLength": 320
          },
          "company": {
            "type": "string",
            "maxLength": 160
          }
        }
      },
      "Conversation": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "object",
          "id",
          "channel",
          "status",
          "priority",
          "subject",
          "preview",
          "customer",
          "createdAt",
          "updatedAt",
          "lastMessageAt",
          "closedAt"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "conversation"
          },
          "id": {
            "type": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/ConversationChannel"
          },
          "status": {
            "$ref": "#/components/schemas/ConversationStatus"
          },
          "priority": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "preview": {
            "type": "string"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "lastMessageAt": {
            "type": "string",
            "format": "date-time"
          },
          "closedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "ConversationListResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "object",
          "hasMore",
          "conversations"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "hasMore": {
            "type": "boolean"
          },
          "conversations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conversation"
            }
          }
        }
      },
      "ConversationResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "conversation"
        ],
        "properties": {
          "conversation": {
            "$ref": "#/components/schemas/Conversation"
          }
        }
      },
      "CreateConversationRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "customer",
          "subject"
        ],
        "properties": {
          "channel": {
            "$ref": "#/components/schemas/ConversationChannel",
            "default": "api"
          },
          "customer": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Customer"
              }
            ],
            "required": [
              "id"
            ]
          },
          "externalId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "priority": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32,
            "default": "medium"
          },
          "subject": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          }
        },
        "example": {
          "channel": "api",
          "externalId": "ticket_123",
          "priority": "medium",
          "subject": "Need help with auth",
          "customer": {
            "id": "cus_123",
            "name": "Ada Lovelace",
            "email": "ada@example.com",
            "company": "Example API Co"
          }
        }
      },
      "UpdateConversationRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "priority": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32
          },
          "status": {
            "$ref": "#/components/schemas/ConversationStatus"
          },
          "subject": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          }
        },
        "minProperties": 1,
        "example": {
          "status": "solved",
          "priority": "low",
          "subject": "OAuth auth issue resolved"
        }
      },
      "Message": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "object",
          "id",
          "conversationId",
          "role",
          "body",
          "deliveryStatus",
          "createdAt"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "message"
          },
          "id": {
            "type": "string"
          },
          "conversationId": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ]
          },
          "body": {
            "type": "string"
          },
          "deliveryStatus": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MessageListResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "object",
          "messages"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "$ref": "#/components/schemas/Message"
          }
        }
      },
      "CreateMessageRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "body"
        ],
        "properties": {
          "body": {
            "type": "string",
            "minLength": 1,
            "maxLength": 8000
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ],
            "default": "user"
          }
        },
        "example": {
          "role": "user",
          "body": "I am getting a 401 from POST /orders."
        }
      },
      "IssueSource": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "channel",
          "conversationId"
        ],
        "properties": {
          "channel": {
            "type": [
              "string",
              "null"
            ]
          },
          "conversationId": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "Issue": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "object",
          "id",
          "subject",
          "preview",
          "description",
          "statusCategory",
          "priority",
          "tags",
          "customer",
          "source",
          "createdAt",
          "updatedAt",
          "lastActivityAt",
          "closedAt"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "issue"
          },
          "id": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "preview": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "statusCategory": {
            "$ref": "#/components/schemas/IssueStatusCategory"
          },
          "priority": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "customer": {
            "$ref": "#/components/schemas/IssueCustomer"
          },
          "source": {
            "$ref": "#/components/schemas/IssueSource"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastActivityAt": {
            "type": "string",
            "format": "date-time"
          },
          "closedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "IssueListResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "object",
          "hasMore",
          "issues"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "hasMore": {
            "type": "boolean"
          },
          "issues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Issue"
            }
          }
        }
      },
      "IssueResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "issue"
        ],
        "properties": {
          "issue": {
            "$ref": "#/components/schemas/Issue"
          }
        }
      },
      "CreateIssueRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "subject"
        ],
        "properties": {
          "customer": {
            "$ref": "#/components/schemas/IssueCustomer"
          },
          "description": {
            "type": "string",
            "maxLength": 8000
          },
          "priority": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32,
            "default": "medium"
          },
          "sourceChannel": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "default": "api"
          },
          "sourceConversationId": {
            "type": "string",
            "format": "uuid"
          },
          "statusCategory": {
            "$ref": "#/components/schemas/IssueStatusCategory",
            "default": "new"
          },
          "subject": {
            "type": "string",
            "minLength": 1,
            "maxLength": 180
          },
          "tags": {
            "type": "array",
            "maxItems": 25,
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            },
            "default": []
          }
        },
        "example": {
          "subject": "OAuth redirect URI mismatch",
          "description": "Customer reports a redirect_uri mismatch on the production OAuth app.",
          "priority": "high",
          "statusCategory": "new",
          "sourceChannel": "api",
          "customer": {
            "name": "Ada Lovelace",
            "email": "ada@example.com",
            "company": "Example API Co"
          },
          "tags": [
            "oauth",
            "production"
          ]
        }
      },
      "UpdateIssueRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "customer": {
            "$ref": "#/components/schemas/IssueCustomer"
          },
          "description": {
            "type": "string",
            "maxLength": 8000
          },
          "priority": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32
          },
          "statusCategory": {
            "$ref": "#/components/schemas/IssueStatusCategory"
          },
          "subject": {
            "type": "string",
            "minLength": 1,
            "maxLength": 180
          },
          "tags": {
            "type": "array",
            "maxItems": 25,
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            }
          }
        },
        "minProperties": 1,
        "example": {
          "statusCategory": "closed",
          "priority": "low",
          "tags": [
            "oauth",
            "resolved"
          ]
        }
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "code",
          "error"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "ClientHealth": {
        "type": "string",
        "enum": [
          "attention",
          "healthy",
          "watch"
        ]
      },
      "ClientHealthScore": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "label",
          "score",
          "activity",
          "conversations",
          "resolutions",
          "reasons"
        ],
        "properties": {
          "label": {
            "$ref": "#/components/schemas/ClientHealth"
          },
          "score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "activity": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "conversations": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "resolutions": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "reasons": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ClientMetrics": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "conversations",
          "openConversations",
          "messages",
          "verifiedContacts",
          "visits"
        ],
        "properties": {
          "conversations": {
            "type": "integer",
            "minimum": 0
          },
          "openConversations": {
            "type": "integer",
            "minimum": 0
          },
          "messages": {
            "type": "integer",
            "minimum": 0
          },
          "verifiedContacts": {
            "type": "integer",
            "minimum": 0
          },
          "visits": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "ClientChannel": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "channel",
          "count"
        ],
        "properties": {
          "channel": {
            "type": "string"
          },
          "count": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "ClientContact": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "name",
          "email",
          "identitySource",
          "lastMessageAt",
          "online",
          "visits"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "identitySource": {
            "type": "string"
          },
          "lastMessageAt": {
            "type": "string",
            "format": "date-time"
          },
          "online": {
            "type": "boolean"
          },
          "visits": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "ClientConversationSummary": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "channel",
          "subject",
          "preview",
          "status",
          "lastMessageAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "preview": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/ConversationStatus"
          },
          "lastMessageAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ClientTask": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "subject",
          "preview",
          "status",
          "priority",
          "lastMessageAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "preview": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/ConversationStatus"
          },
          "priority": {
            "type": "string"
          },
          "lastMessageAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Client": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "object",
          "id",
          "name",
          "health",
          "healthScore",
          "metrics",
          "channels",
          "contacts",
          "recentConversations",
          "tasks",
          "firstContactAt",
          "lastMessageAt",
          "latestConversationId"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "client"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "health": {
            "$ref": "#/components/schemas/ClientHealth"
          },
          "healthScore": {
            "$ref": "#/components/schemas/ClientHealthScore"
          },
          "metrics": {
            "$ref": "#/components/schemas/ClientMetrics"
          },
          "channels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClientChannel"
            }
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClientContact"
            }
          },
          "recentConversations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClientConversationSummary"
            }
          },
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClientTask"
            }
          },
          "firstContactAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastMessageAt": {
            "type": "string",
            "format": "date-time"
          },
          "latestConversationId": {
            "type": "string"
          }
        }
      },
      "ClientListResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "object",
          "hasMore",
          "truncated",
          "clients"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "hasMore": {
            "type": "boolean"
          },
          "truncated": {
            "type": "boolean"
          },
          "clients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Client"
            }
          }
        }
      },
      "ClientResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "client",
          "truncated"
        ],
        "properties": {
          "client": {
            "$ref": "#/components/schemas/Client"
          },
          "truncated": {
            "type": "boolean"
          }
        }
      },
      "AgentLearningStatus": {
        "type": "string",
        "enum": [
          "idle",
          "pending",
          "ready",
          "failed"
        ]
      },
      "Agent": {
        "type": "object",
        "required": [
          "object",
          "id",
          "name",
          "enabled",
          "isDefault",
          "widgetPublicKey",
          "attachedSourceCount",
          "learningStatus",
          "learnedAt",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "agent"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "isDefault": {
            "type": "boolean"
          },
          "widgetPublicKey": {
            "type": [
              "string",
              "null"
            ],
            "description": "Public widget key for this agent. This is not a REST API credential."
          },
          "attachedSourceCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of API context sources attached to the agent."
          },
          "learningStatus": {
            "$ref": "#/components/schemas/AgentLearningStatus"
          },
          "learnedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "description": "Public agent metadata. Prompt/config internals, learned profiles, attached source ids, provider details, and operator-only debug data are intentionally omitted."
      },
      "AgentListResponse": {
        "type": "object",
        "required": [
          "object",
          "hasMore",
          "agents"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "hasMore": {
            "type": "boolean"
          },
          "agents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Agent"
            }
          }
        }
      },
      "AgentResponse": {
        "type": "object",
        "required": [
          "agent"
        ],
        "properties": {
          "agent": {
            "$ref": "#/components/schemas/Agent"
          }
        }
      },
      "SourceAuth": {
        "type": "object",
        "properties": {
          "configured": {
            "type": "boolean"
          },
          "hasSecret": {
            "type": "boolean"
          },
          "lastError": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastVerifiedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "additionalProperties": false
      },
      "PublicDocsMetadata": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "published": {
            "type": "boolean"
          },
          "slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "url": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "additionalProperties": true
      },
      "SourceSummary": {
        "type": "object",
        "required": [
          "id",
          "name",
          "object",
          "status",
          "type",
          "createdAt",
          "updatedAt",
          "publicDocs"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "source"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "openapi",
              "json",
              "url",
              "website",
              "text",
              "graphql",
              "postman",
              "asyncapi",
              "grpc",
              "soap",
              "github"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "ready",
              "failed"
            ]
          },
          "inputUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          },
          "auth": {
            "$ref": "#/components/schemas/SourceAuth"
          },
          "publicDocs": {
            "$ref": "#/components/schemas/PublicDocsMetadata"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "SourceEndpoint": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "endpoint"
          },
          "id": {
            "type": "string"
          },
          "method": {
            "type": [
              "string",
              "null"
            ]
          },
          "path": {
            "type": [
              "string",
              "null"
            ]
          },
          "operationId": {
            "type": [
              "string",
              "null"
            ]
          },
          "summary": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "parameters": {},
          "requestBody": {},
          "responses": {},
          "security": {},
          "tags": {}
        },
        "additionalProperties": false
      },
      "SourceDocument": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "document"
          },
          "id": {
            "type": "string"
          },
          "kind": {
            "type": [
              "string",
              "null"
            ]
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "path": {
            "type": [
              "string",
              "null"
            ]
          },
          "content": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "additionalProperties": false
      },
      "SourceDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SourceSummary"
          },
          {
            "type": "object",
            "properties": {
              "counts": {
                "type": "object",
                "properties": {
                  "chunks": {
                    "type": "integer"
                  },
                  "documents": {
                    "type": "integer"
                  },
                  "endpoints": {
                    "type": "integer"
                  }
                },
                "additionalProperties": false
              },
              "documents": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SourceDocument"
                }
              },
              "endpoints": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SourceEndpoint"
                }
              }
            }
          }
        ]
      },
      "SourceListResponse": {
        "type": "object",
        "required": [
          "object",
          "hasMore",
          "sources"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "hasMore": {
            "type": "boolean"
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceSummary"
            }
          }
        },
        "additionalProperties": false
      },
      "SourceResponse": {
        "type": "object",
        "required": [
          "source"
        ],
        "properties": {
          "source": {
            "$ref": "#/components/schemas/SourceDetail"
          }
        },
        "additionalProperties": false
      },
      "CreateSourceRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "auto",
              "openapi",
              "json",
              "url",
              "website",
              "text",
              "graphql",
              "postman",
              "asyncapi",
              "grpc",
              "soap",
              "github"
            ],
            "default": "auto"
          },
          "name": {
            "type": "string",
            "maxLength": 200
          },
          "url": {
            "type": "string",
            "maxLength": 2000
          },
          "content": {
            "type": "string",
            "maxLength": 2000000
          }
        },
        "anyOf": [
          {
            "required": [
              "url"
            ]
          },
          {
            "required": [
              "content"
            ]
          }
        ],
        "additionalProperties": false
      },
      "UpdateSourceRequest": {
        "type": "object",
        "minProperties": 1,
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "publicDocs": {
            "type": "object",
            "required": [
              "published"
            ],
            "properties": {
              "published": {
                "type": "boolean"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "IngestionResultResponse": {
        "type": "object",
        "properties": {
          "source": {
            "$ref": "#/components/schemas/SourceSummary"
          },
          "counts": {
            "type": "object",
            "properties": {
              "chunks": {
                "type": "integer"
              },
              "documents": {
                "type": "integer"
              },
              "endpoints": {
                "type": "integer"
              }
            },
            "additionalProperties": false
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "kind": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "title": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "additionalProperties": false
            }
          },
          "endpoints": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "method": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "path": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false
      },
      "DeleteSourceResponse": {
        "type": "object",
        "required": [
          "deleted",
          "id",
          "object"
        ],
        "properties": {
          "deleted": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "const": "source"
          }
        },
        "additionalProperties": false
      },
      "Tag": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "tag"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "scope": {
            "type": "string",
            "enum": [
              "issue",
              "account"
            ]
          },
          "color": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "TagListResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "hasMore": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          }
        },
        "additionalProperties": false
      },
      "StatusDefinition": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "status"
          },
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "lifecycle": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "rank": {
            "type": "integer"
          },
          "tone": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "StatusListResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "hasMore": {
            "type": "boolean"
          },
          "statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatusDefinition"
            }
          }
        },
        "additionalProperties": false
      },
      "PriorityDefinition": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "priority"
          },
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "highlightInQueue": {
            "type": "boolean"
          },
          "rank": {
            "type": "integer"
          },
          "tone": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "PriorityListResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "hasMore": {
            "type": "boolean"
          },
          "priorities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriorityDefinition"
            }
          }
        },
        "additionalProperties": false
      },
      "CustomFieldDefinition": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "custom_field"
          },
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "fillMode": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "CustomFieldListResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "hasMore": {
            "type": "boolean"
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldDefinition"
            }
          }
        },
        "additionalProperties": false
      },
      "UsageResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "usage"
          },
          "periodStart": {
            "type": "string",
            "format": "date-time"
          },
          "usage": {
            "type": "object",
            "properties": {
              "publicApiCalls": {
                "type": "integer"
              },
              "liveApiChecks": {
                "type": "integer"
              },
              "apiSources": {
                "type": "integer"
              },
              "agents": {
                "type": "integer"
              },
              "indexedEndpoints": {
                "type": "integer"
              }
            },
[...]
